@font-face {
  font-family: 'IosevkaFixedSS10';
  src: url('../fonts/IosevkaFixedSS10-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'IosevkaFixedSS10';
  src: url('../fonts/IosevkaFixedSS10-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'IosevkaFixedSS10';
  src: url('../fonts/IosevkaFixedSS10-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  font-family: 'IosevkaFixedSS10', monospace;
  font-weight: 300;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-weight: 700;
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }

  a {
    color: #2fc186 !important;
  }

  .container {
    background: white;
    color: black;
  }

  .faqs h3 {
    color: black;
  }

  .faqs>li>a {
    color: black;
  }

  .faqs>li>a>img {
    filter: invert(0%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111111;
    color: white;
  }

  a {
    color: #81D4FA !important;
  }

  .container {
    background: #222222d0 !important;
    color: white;
  }

  .faqs h3 {
    color: white;
  }

  .faqs>li>a {
    color: white;
  }

  .faqs>li>a>img {
    filter: invert(100%);
  }
}

a {
  color: #2fc186;
}

#background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.bonus-text {
  color: #17af9d;
  animation: blinker 2s linear infinite;
}

.bonus-text-variant {
  color: #b7ff00;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: .3;
  }
}

.horizontal-divider {
  opacity: .1;
}

header {
  width: 100%;
  display: flex;
  padding-top: 18px;
  background: transparent;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 1.8em;
  text-align: center;
}

.app-logo {
  width: 96px;
  height: 96px;
}

.bottom-line {
  text-align: center;
  opacity: .5;
}

.container {
  max-width: min(800px, calc(100% - 56px));
  padding: 16px;
  margin: calc(1.8em) auto 0 auto;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: white;
}

h2 {
  text-align: center;
  color: #2fc186;
}

.faqs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faqs li {
  margin-bottom: 16px;
}

.faqs li a[href] * {
  vertical-align: middle;
}

.faqs h3 {
  display: inline;
  margin-left: 6px;
  font-weight: normal;
  color: #b1ffe0;
}

.faqs a[name] {
  display: block;
  margin-top: -25vh;
  height: 25vh;
  visibility: hidden;
  pointer-events: none;
}

.faqs li img {
  transform: none;
  max-width: 24px;
}

.faqs li div {
  display: none;
}

.faqs li.active img {
  transform: rotate(90deg);
}

.faqs li.active div {
  display: block;
}

.faqs li.active h3 {
  font-weight: bold;
}

.faqs>li>a {
  color: black;
  text-decoration: none;
  outline: none;
}

.links {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.links .icon {
  position: relative;
  background: #222222d0;
  border-radius: 50%;
  padding: 12px;
  margin: 10px;
  width: 48px;
  height: 48px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-image {
  filter: invert(100%);
  width: 40px;
  height: 40px;
  transform: none;
}

.links .tooltip {
  position: absolute;
  top: 0;
  width: max-content;
  align-items: center;
  text-align: center;
  font-size: 12px;
  background: #ffffff;
  color: #000000;
  padding: 5px 8px;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.links .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.links .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.links .icon:hover {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  background: #2fc186;
}

.statistics-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.statistics-table th,
.statistics-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.statistics-table th {
  background-color: #f2f2f2;
  color: #333;
}

.statistics-table tr:hover {
  background-color: #f1f1f1;
}

.statistics-table td {
  font-size: 1.1em;
  color: #555;
}